---
import { Code } from "astro-expressive-code/components";
import Layout from "../layouts/Layout.astro";
import Tabs from "../components/Tabs.astro";
import TabItem from "../components/TabItem.astro";

import BackgroundImage from "../components/background/ImageExample.astro";
import BackgroundImageCode from "../components/background/ImageExample.astro?raw";
import BackgroundPicture from "../components/background/PictureExample.astro";
import BackgroundPictureCode from "../components/background/PictureExample.astro?raw";
---

<Layout title="Astro Image Examples - Background">
  <div class="container">
    <div class="card">
      <h1 class="heading">Background Examples.</h1>
      <p>
        Image found in <code class="inlineCode">src/assets/nasa.jpg</code> and sourced via Nasa @
        <a
          href="https://unsplash.com/photos/yZygONrUBe8"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="inlineLink">unsplash.com</a
        >
      </p>
    </div>
    <br />
    <br />
    <br />
    <Tabs>
      <TabItem name="background-image" label="<Image>" open>
        <BackgroundImage />
      </TabItem>
      <TabItem name="background-image" label="<Code>">
        <Code code={BackgroundImageCode} lang="astro" title="background-image.astro" />
      </TabItem>
    </Tabs>
    <br />
    <br />
    <br />
    <Tabs>
      <TabItem name="background-picture" label="<Picture>" open>
        <BackgroundPicture />
      </TabItem>
      <TabItem name="background-picture" label="<Code>">
        <Code code={BackgroundPictureCode} lang="astro" title="background-picture.astro" />
      </TabItem>
    </Tabs>
  </div>
</Layout>
