---
import { Code } from "astro-expressive-code/components";
import Layout from "../layouts/Layout.astro";
import Tabs from "../components/Tabs.astro";
import TabItem from "../components/TabItem.astro";

import ResponsiveImage from "../components/responsive/ImageExample.astro";
import responsiveImageCode from "../components/responsive/ImageExample.astro?raw";
import ResponsivePicture from "../components/responsive/PictureExample.astro";
import responsivePictureCode from "../components/responsive/PictureExample.astro?raw";
---

<Layout title="Astro Image Examples - Responsive">
  <div class="container">
    <div class="card">
      <h1 class="heading">Responsive Examples.</h1>
      <p>
        Image found in <code class="inlineCode">src/assets/nasa.jpg</code> and sourced via Nasa @
        <a
          href="https://unsplash.com/photos/yZygONrUBe8"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="inlineLink">unsplash.com</a
        >
      </p>
    </div>
    <br />
    <br />
    <br />
    <Tabs>
      <TabItem name="responsive-image" label="<Image>" open>
        <ResponsiveImage />
      </TabItem>
      <TabItem name="responsive-image" label="<Code>">
        <Code code={responsiveImageCode} lang="astro" />
      </TabItem>
    </Tabs>
    <br />
    <br />
    <br />
    <Tabs>
      <TabItem name="responsive-picture" label="<Picture>" open>
        <ResponsivePicture />
      </TabItem>
      <TabItem name="responsive-picture" label="<Code>">
        <Code code={responsivePictureCode} lang="astro" />
      </TabItem>
    </Tabs>
  </div>
</Layout>
